.item {
    transition: all .15s ease;
}

.item:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, .16);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
}
.item-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-box{
    background-color: #fbfbfb;
    border-radius: 10px;
    padding: 20px;
    border: none;
    box-shadow: 0 0 30px rgba(0, 0, 0, .16);
    width: 80%;
    max-width: 45rem;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, .5);
}

dialog[open]{
    animation: fadeIn 0.3s ease-in-out;
    backdrop-filter: blur(5px); 
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@media (max-width: 768px) {
    .item-price {
        flex-direction: column;
        align-items: flex-start;
    }
    .item-price span {
        margin-bottom: 5px;
    }
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-left: 45px;
}

.modal-footer {
    display: flex;
    align-items: center;
    margin-top: 20px;
}